@font-face{
    font-family:"Gotham-Book";
    src: url(fonts/Gotham-Book.otf);
	}
	@font-face{
	    font-family:"Gotham-Bold";
	    src: url(fonts/Gotham-Bold.otf);
	}
	@font-face{
	    font-family:"FontAwesome";
	    src: url(fonts/FontAwesome.otf.otf);
	}
	*{
		font-family:"Gotham-Book";
	}
		html, body{
			margin: 0px;
			padding: 0px;
			height: 100%;
			
		}
		h1, h2, h3, h4, h5{
			margin: 0px;
			font-family:"Gotham-Bold";
		}
		table p{
			margin: 3px 0px 3px 0px;
			padding: 3px 0px 3px 0px;
		}
		a:link   
		{   
		 text-decoration:none;   
		}
		#main-wrapper{
			position: relative;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			-webkit-justify-content: center;
		        -ms-flex-pack: center;
		    -webkit-box-pack: center;
		        justify-content: center;
		    -webkit-align-items: center;
		            -ms-flex-align: center;
		        -webkit-box-align: center;
		            align-items: center;
			height: 100%;
		}
		.hojas{
			position: relative;
			display: inline-block;
			width: 812px;
			height: 1070px;
		}
		.hojaCarta{
			width: 812px;
			height: 1070px;
			/*height: 1075px;*/
			position: absolute;
			margin: auto;
            left: 0px;
            right: 0px;
            /*overflow: auto;*/
		}
		header{

			text-align: center;
		}
		.c1{
			width: 20%;
			height: 100px;
			float: left;
			text-align: center;
		}
		.c2{
			width: 60%;
			height: 100px;
			float: left;
			text-align: center;
			position: relative;
		}
		.c3{
			width: 20%;
			height: 100px;
			float: left;
			text-align: center;
			position: relative;
		}
		.logo2{
			position: absolute;
            margin: auto;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
		}
		.cabecera1{
			width: 100%;
			height: 50px;
		}
		#grande{
			font-size: 2.5em;
		}
		.tablaUno{
			text-align: center;
		}
		.tEnca{
			font-family:"Gotham-Bold";
			background-color: #6E6E6E;
			padding: 3px 0px;
			width: 100%;
			color: #FFF;
		}
		footer{
			background-color: #6E6E6E;
			text-align: center;
			position: absolute;
			width: 100%;
			bottom: 0px;
		}
		table{
			width: 100%;
			margin: 0px;
			padding: 0px;
		}
		td{
			width: 150px;
			padding: 5px 0px 0px 0px;
			font-size: 14px;
    		border: 1px solid #6E6E6E;
    		color: #6E6E6E;
		}
		.cuadroInfo{
			padding: 3px 10px;
			font-size: 14px;
			color: #6E6E6E;
		}
		.cuadroInfo2{
			margin: 0px;
			padding: 0px 10px;
			font-size: 13px;
			color: #6E6E6E;
		}
		.c1EdoCuenta{
			width: 100%;
			height: 100px;
			position: relative;
		}
		.cCatastralEst{
			position: absolute;
			bottom: -10px;
			right: 10px;
			font-family:"Gotham-Bold";
			color: #FFF;
			font-size: 1.5em;
		}
		.cTfPago{
			width: 100%;
			height: 70px;
		}
		.cfPago{
			background-color: #FAF5FF;
			width: 50%;
			height: 100%;
			float: left;
			font-size: 14px;
			color: #6E6E6E;
			position: relative;	
				
		}
		.c1FPago{
			width: 70%;
			height: 100%;
			float: left;
			text-align: center;
			clear: both;
		}
		.c2FPago{
			width: 30%;
			height: 100%;
			float: left;
			text-align: center;
		}
		.cXfPago{
			position: absolute;
			width: 400px;
			height: 60px;
		}
		.txtCuadro{
			position: absolute;
			margin: auto;
			width: 300px;
			height: 30px;
			top: 0px;
			bottom: 0px;
			left: 68px;
		}
		.txtCuadroG{
			position: absolute;
			margin: auto;
			width: 330px;
			height: 55px;
			top: 0px;
			bottom: 0px;
			left: 68px;
		}
		.numero{
			position: absolute;
			width: 30px;
			height: 30px;
			text-align: center;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			color: #FFF;
			font-family:"Gotham-Bold";
			font-size: 25px;
			background-color: #6E6E6E;
			line-height: 31px;
			margin: auto;
			top: 0px;
			bottom: 0px;
			left: 28px;
		}
		.logoSPEI{
			width: 150px;
			height: 38px;
			float: left;
			position: relative;
		}
		.logoTelecom{
			width: 200px;
			margin: auto;
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
		.txtChico{
			position: absolute;
			top: 35px;
			left: 10px;
			font-size: 13px;
		}
		.txtIzq{
			position: absolute;
			top: 35px;
			left: 235px;
		}
		.cDatosCont{
			background-color: #FFE2E2;
			width: 100%;
			height: 75px;
			
		}
		.datosC{
			width: 75%;
			height: 100%;
			float: left;
			position: relative;
		}
		.promoInfo{
			width: 25%;
			height: 100%;
			float: left;
			position: relative;
		}
		.txtDatosCont{
			margin: 5px 10px;
			font-size: 14px;
			color: #6E6E6E;
		}
		.txtCPromo{
			width: 185px;
			height: 50px;
			position: absolute;
			margin: auto;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			color: #6E6E6E;
			font-size: 14px;
			font-family:"Gotham-Bold";
		}
		.txtCentradoInfo{
			padding: 10px 0px 0px 0px;
			font-size: 13px;
			color: #6E6E6E;
			text-align: center;
			font-family:"Gotham-Bold";
		}
		.sociales{
			font-size: .9em;
			color: #6E6E6E;
			padding: 0px 15px;
			color: #FFF;
		}
		#iconSocial{
			font-size: 20px;
		}


		.tInfoUsr{
			text-align: center;
			margin: 20px;
			font-size: 1.8em;
		}

		.imgInfoUsuario{
			background-image: url("img/imgInstru.svg");
			width: 762px;
			height: 794px;
			margin: auto;
		}
		.cTxt{
			width: 350px;
		}
		.cPaso1{
			float: right;
			margin-top: 50px;
			margin-right: 30px;
			text-align: center;
			font-size: 1.2em;
		}
		.cPaso2{
			float: left;
			margin-top: 240px;
			margin-left: 20px;
		}
		.cPaso3{
			float: right;
			margin-top: 100px;
			margin-right: 50px;
		}
		.cPaso4{
			float: left;
			margin-top: 70px;
			margin-left: 130px;
			text-align: center;
			font-size: 1.3em;
		}